{{ $siteTitle := .Site.Title | plainify }}
{{ $siteUrl := .Site.BaseURL | plainify }}
{{ $siteDescription := default .Site.Params.defaultDescription .Description | markdownify | plainify }}
{{ $siteLogo := default "img/favicon.ico" .Site.Params.logo }}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Organization",
      "name": {{ $siteTitle | jsonify }},
      "url": {{ $siteUrl | jsonify }},
      "logo": {{ (printf "%s%s" $siteUrl $siteLogo) | jsonify }},
      "sameAs": [
        {{ range $index, $link := .Site.Menus.topbar.ByWeight }}{{ if $index }}, {{ end }}{{ $link.URL | jsonify }}{{ end }}
      ]
    },
    {
      "@type": "WebSite",
      "name": {{ $siteTitle | jsonify }},
      "url": {{ $siteUrl | jsonify }},
      "description": {{ $siteDescription | jsonify }}
    },
    {
      "@type": "SportsActivityLocation",
      "name": {{ $siteTitle | jsonify }},
      "url": {{ $siteUrl | jsonify }},
      "telephone": "+85266820106",
      "address": {
        "@type": "PostalAddress",
        "addressCountry": "HK"
      }
    }
    {{ if or .IsHome (and (eq .Kind "section") (eq .Section "courses")) }}
    ,{
      "@type": "ItemList",
      "name": {{ printf "%s 課堂列表" $siteTitle | jsonify }},
      "itemListElement": [
        {{ range $index, $course := sort .Site.Data.courses "weight" }}{{ if $index }},{{ end }}
        {
          "@type": "ListItem",
          "position": {{ add $index 1 }},
          "item": {
            "@type": "Course",
            "name": {{ $course.name | jsonify }},
            "courseCode": {{ $course.id | jsonify }},
            "description": {{ (printf "%s - %s | %s" $course.region $course.name $course.address_display) | jsonify }},
            "provider": {
              "@type": "Organization",
              "name": {{ $siteTitle | jsonify }},
              "sameAs": {{ $siteUrl | jsonify }}
            },
            "url": {{ (print $siteUrl "courses/#" $course.id) | jsonify }}
          }
        }
        {{ end }}
      ]
    }
    {{ end }}
  ]
}
</script>
