{{ if isset .Site.Params "recent_posts" }}
{{ if .Site.Params.recent_posts.enable }}
{{ if isset .Site.Data "courses" }}
{{ if gt (len .Site.Data.courses) 0 }}
<section class="bar background-white no-mb">
    <div class="container">

        <div class="col-md-12">
            <div class="heading text-center">
                <h2>{{ .Site.Params.recent_posts.title | markdownify }}</h2>
            </div>

            <p class="lead">
              {{ .Site.Params.recent_posts.subtitle | markdownify }}
            </p>

            <!-- *** BLOG HOMEPAGE *** -->

            {{ $elements := default 4 .Site.Params.courses.cols}}
            {{ $courses := sort .Site.Data.courses "weight" }}
    
            {{ $total_rows := div (len $courses) $elements }}
    
            {{ if gt (mod (len $courses) $elements) 0 }}
                {{ $total_rows = add $total_rows 1 }}
            {{ end }}

            {{ range $i, $sequence := seq $total_rows }}
            <div class="row row-{{ $i }} row-{{ if eq (mod $i 2) 0 }}odd{{ else }}even{{ end }}">
                {{ range $j, $sequence2 := (seq $elements) }}

                    {{ $course_index := add (mul $i $elements) $j }}
                    {{ if lt $course_index (len $courses) }}
                        {{ $element := index $courses $course_index }}
                        {{ $url := print "/courses#" $element.id }}

                        <div class="col-md-3 col-sm-6">
                            <div class="box-image-text blog">
                                <div class="top">
                                    <div class="image" style="overflow:hidden">
                                        {{ if $element.banner }}
                                        <img src="{{ $element.banner | relURL }}" class="img-responsive" alt="" >
                                        {{ else }}
                                        <img src="{{ "img/placeholder.png" | relURL }}" class="img-responsive" alt="">
                                        {{ end }}
                                    </div>
                                    <div class="bg"></div>
                                    <div class="text">
                                        <p class="buttons">
                                             <a href="{{ $url | relURL }}" class="btn btn-template-transparent-primary"><i class="fas fa-link"></i> {{ i18n "learnMore" }}</a>
                                        </p>
                                    </div>
                                </div>
    
                                <div class="content">
                                    <h4><a href="{{ $url | relURL }}">{{ $element.name }}</a></h4>
                                    <p class="intro"></p>
                                    <p class="read-more">
                                      <a href="{{ $url | relURL }}" class="btn btn-template-main">{{ i18n "learnMore" }}</a>
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image-text -->
        
                        </div>
                    {{ end }}
                {{ end }}

            </div>
            <!-- /.row -->
            {{ end }}

            <!-- *** BLOG HOMEPAGE END *** -->

        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
{{ end }}
{{ end }}
