{{ if default true .Site.Params.region_links.enable }}
<section class="bar background-white">
  <div class="container">
    <div class="heading text-center">
      <h2>附近課堂</h2>
      <p class="lead">選擇你最方便的地區，立即查看每區課堂詳情與報名方式。</p>
    </div>
    <div class="row text-center">
      <div class="col-md-3 col-sm-6">
        <div class="box-simple">
          <h4>馬鞍山</h4>
          <p>馬鞍山體育館、恆安體育館</p>
          <p><a href="/courses/#mos" class="btn btn-template-main btn-sm">了解更多</a></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="box-simple">
          <h4>荃灣</h4>
          <p>荃灣體育館、荃灣西約體育館</p>
          <p><a href="/courses/#tw" class="btn btn-template-main btn-sm">了解更多</a></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="box-simple">
          <h4>深水埗</h4>
          <p>深水埗體育館</p>
          <p><a href="/courses/#ssp" class="btn btn-template-main btn-sm">了解更多</a></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="box-simple">
          <h4>彩虹 / 觀塘</h4>
          <p>彩虹道體育館、彩榮路體育館</p>
          <p><a href="/courses/#chr" class="btn btn-template-main btn-sm">了解更多</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
