{{ template "_internal/google_analytics.html" . }}
<script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0/jquery.counterup.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-parallax/1.1.3/jquery-parallax.js"></script>
{{ if and .Site.Params.enableGoogleMaps .Site.Params.googleMapsApiKey }}
<script src="//maps.googleapis.com/maps/api/js?key={{.Site.Params.googleMapsApiKey}}&v=3.exp"></script>
<script src="{{ "js/hpneo.gmaps.js" | relURL }}"></script>
<script src="{{ "js/gmaps.init.js" | relURL }}"></script>
{{ end }}
{{ if and .Site.Params.enableRecaptchaInContactForm .Site.Params.googleRecaptchaKey }}
<script src="//www.google.com/recaptcha/api.js" async defer></script>
{{ end }}
<script src="{{ "js/front.js" | relURL }}"></script>

<!-- owl carousel -->
<script src="{{ "js/owl.carousel.min.js" | relURL }}"></script>

<script>
// WhatsApp CTA click tracking: send analytics event when WhatsApp links are clicked
document.addEventListener('click', function(e) {
	var a = e.target.closest && e.target.closest('a[href*="api.whatsapp.com/send"]');
	if (!a) return;
	var href = a.href;
	if (typeof gtag === 'function') {
		try { gtag('event', 'whatsapp_click', { 'event_category': 'contact', 'event_label': href }); } catch(e){}
	} else if (typeof ga === 'function') {
		try { ga('send', 'event', 'contact', 'whatsapp_click', href); } catch(e){}
	} else if (window.dataLayer && Array.isArray(window.dataLayer)) {
		try { window.dataLayer.push({ event: 'whatsapp_click', label: href }); } catch(e){}
	} else {
		console.log('WhatsApp click', href);
	}
});
</script>

<!-- Region Filter -->
<script src="{{ "js/region-filter.js" | relURL }}"></script>
