{{ if .Site.Params.topbar.enable }}
<header>
  <div id="top">
    <div class="container">
      <div class="row">
        <div class="col-xs-5">
          {{ .Site.Params.topbar.text | safeHTML }}
        </div>
        <div class="col-xs-7">
          <div class="social" role="navigation" aria-label="社交媒體連結">
            {{ range .Site.Menus.topbar.ByWeight }}
            <a href="{{ .URL | safeURL }}" target="_blank" rel="noopener noreferrer" style="opacity: 1;" aria-label="{{ .Name }}">{{ .Pre }}</a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{{ end }}

{{ partial "whatsapp_float_button.html" . }}