<style type="text/css">
    .float-lr {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: #25d366;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;
    }

    .float-lr .float-wa-icon {
        margin-top: 16px;
    }
</style>
<a href="https://api.whatsapp.com/send?phone=85266820106&text=想了解更多課堂資訊." class="float-lr" target="_blank">
    <i class="fab fa-whatsapp float-wa-icon"></i>
</a>